@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}




img.destacados{
    height: 100%;
    width: auto;
    max-height: 170px;
    border-radius: 10px 10px 0 0;
}



.container-items{
   display: flex;
}





.item{
    margin: 0px 80px 0px 50px;
    border-radius: 10px;
}




.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}





h4{
    font-size: larger;
    font-weight: bolder
}



.info-product{
   padding: 15px 30px;
   line-height: 2;
   display: flex;
   flex-direction: column;
   gap: 10px;
}





.price{
    font-size: 18px;
    font-weight: 900;
}





.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}




h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}




strong{
    color: red;
}

.consola{
    text-align: center;
}



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


#cart-icon{
    color: #000;
    font-size: 25px;
    cursor: pointer;
}




.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    transition: 0.3s;
}


.cart.active {
    right: 0;
}


.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}


.cart-box{
   display: grid;
   grid-template-columns: 32% 50% 18%; 
   align-items: center;
   gap: 1rem;
   margin-top: 1rem;
}


.cart-img{
    width: 120px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}


.detail-box{
    display: grid;
    row-gap: 0.5rem;
}



.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 1000;
}


.cart-quantity{
    border: 1px solid black;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}


.cart-remove{
    font-size: 24px;
    color: rgba(255, 0, 0, 0.803);
    cursor: pointer;
}



.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}



.total-title{
    font-size: 1rem;
    font-weight: 600;
}


.total-price{
    margin-left: 0.5rem;
}


.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    font-size: 1rem;
    background: rgba(255, 0, 0, 0.803);
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}


.btn-buy:hover{
    background: black;
}


#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}